@import "./markdown.scss";

html,
body,
#app {
  @apply h-full min-h-screen;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;

  &.reverse {
    justify-content: flex-end;

    .message-box {
      background-color: var(--message-box-2);
      color: #fff;

      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    .message-pp {
      order: 2;
    }
  }
}

.message-pp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.message-box {
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  width: auto;
  max-width: 80%;

  &-wrapper {
    margin: 0 12px;

    span {
      font-size: 10px;
      line-height: 16px;
      opacity: 0.6;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scrollbar-thumb);
}
